@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import './mixins';

.summary {
    font-family: 'Barlow', sans-serif;
    display: flex;

    &-title {
        margin-right: 3rem;
        color: black;
        font-family: Barlow;
        font-size: 16px;
        letter-spacing: 0;
        line-height: $spacing4;
    }

    &-description {
        color: #515A5A;
        font-family: Barlow;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.brokerInfo {
    margin: 3.7rem;
}

.header {
    font-family: 'Barlow', sans-serif;
    width: 178px;
    color: #003D40;
    font-family: Barlow;
    font-size: $spacing7;
    font-weight: 300;
    letter-spacing: -1.33px;
    line-height: 58px;
}