.pieData {
    margin: 2rem;
}

.brokerTitle,
.carrierTitle {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.buttonFilters {
    background-color: #ebeeef;
    margin-left: 1rem;
    margin-right: 1rem;
}