@import './mixins';

.doughnutChart {
    margin: $remSpacing4;
}

.chartTitles {
    color: #4A4A4A;
    font-family: Barlow;
    font-size: $spacing5;
    font-weight: 300;
    letter-spacing: -1.07px;
    line-height: 38px;
}