@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import './mixins';

.pieData {
    margin: $remSpacing4;

    @include mqViewportMobile {
        margin-bottom: $remSpacing6;
    }
}

.brokerTitle,
.carrierTitle {
    margin-left: $remSpacing4;
    margin-right: $remSpacing4;
    margin-bottom: $spacing10;
    color: #4A4A4A;
    font-family: Barlow;
    font-size: $spacing6;
    font-weight: 300;
    letter-spacing: -1.11px;
    line-height: $spacing7;

    @include mqViewportMobile {
        margin-top: $remSpacing6;
    }
}

.buttonFilters {
    background-color: #EAEEEF;
    margin-left: $remSpacing2;
    margin-right: $remSpacing2;
    color: #006667;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: $spacing3;
}